{% extends 'base.html' %}

{% block content %}

<h1> {{ profile_user.username }}'s Profile </h1>

<p>
    Follower: {{ profile_user.followers.count }} | Following: {{ profile_user.followings.count }}  <!-- 표로 표시 -->
</p>

{% if profile_user != request.user %}
<form action="{% url 'common:follow' profile_user.username %}" method="POST">
    {% csrf_token %}
    
    {% if is_following %}
    <button> Unfollow </button>
    {% else %}
    <button> Follow </button>
    {% endif %}
</form>
{% endif %}

{% include 'common/_profile_postings.html' %}
{% include 'common/_profile_comments.html' %}

{% if profile_user == request.user %}

{% include 'common_profile_like_postings.html' %}

{% endif %}

{% endblock content %}  